
debug=on
optimize=on
deprecation=off

java_libs=../../../javalibs/

concurrent.jar=${basedir}/lib/concurrent.jar
xerces_root=${java_libs}/xerces-2_11_0/

cl_version=1.1.1
cl_base_name=commons-logging
cl_root=${java_libs}/${cl_base_name}-${cl_version}

# These should get moved into build.xml
cl_apis_jar=${cl_root}/${cl_base_name}-api-${cl_version}.jar
cl_jar=${cl_root}/${cl_base_name}-${cl_version}.jar
cl_adapters_jar=${cl_root}/${cl_base_name}-adapters-${cl_version}.jar
xerces_jar=${xerces_root}/xercesImpl.jar

junit_jar=${java_libs}/junit-4.10.jar
